@page
@model RiverfrontSandwiches.Pages.Error404Model
@{
    ViewData["Title"] = "404 Error: Page Not Found";
}

    <div class="content-row">
        <div class="col-sma-6">
            <div class="subtitle-container">
                <h2 class="subtitle-container__subtitle">@ViewData["Title"]</h2>
            </div>
            <div>

                <p>That page does not appear to exist.  Please select one of the links on the navbar!</p>
            </div>
        </div>
        <div class="col-sma-6">
            <div class="background-hero-image error-404">

            </div>
        </div>
    </div>



