@{
    int currentYear = DateTime.Now.Year;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Riverfront Sandwiches</title>

    <environment include="Development, Production">
        <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
        <link rel="stylesheet" href="~/assets/css/main-styles.css?mod=09232019" />
        <link rel="stylesheet" href="~/assets/css/print-styles.css?mod=09232019" media="print" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
    </environment>
</head>
<body>
    <div class="body-wrapper">
        <header class="header">
            <div class="header__background"></div>
            <div class="main-title-container">
                <h1><a href="/Index" class="main-title__title">Riverfront <span class="main-title__word-two">Sandwiches</span></a></h1>
            </div>
        </header>
        <div class="logo-container">
            <a href="/index">
                <img src="~/assets/images/logo.png" alt="Riverfront Sandwiches logo" />
            </a>
        </div>
        <nav>
            <div class="nav mobile-nav" id="mobileNav">
                <div class="nav__nav-list-container">
                    <div class="nav__nav-list">
                        <div class="nav__nav-row">
                            <div class="nav__nav-item"><a class="nav__nav-link" asp-page="/About">About</a></div>
                            <div class="nav__nav-item"><a class="nav__nav-link" asp-page="/Food">Food!</a></div>
                            <div class="nav__nav-item"><a class="nav__nav-link" asp-page="/Beverages">Beverages</a></div>
                        </div>
                        <div class="nav__nav-row">
                            <div class="nav__nav-item"><a class="nav__nav-link" asp-page="/Events">Events</a></div>
                            <div class="nav__nav-item"><a class="nav__nav-link" asp-page="/Contact">Contact</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav desktop-nav" id="desktopNav">
                <div class="nav__nav-list-container">
                    <div class="nav__nav-list">
                        <div class="nav__nav-item"><a class="nav__nav-link" asp-page="/Index">Home</a></div>
                        <div class="nav__nav-item"><a class="nav__nav-link" asp-page="/About">About Us</a></div>
                        <div class="nav__nav-item"><a class="nav__nav-link" asp-page="/Food">Food!</a></div>
                        <div class="nav__nav-item"><a class="nav__nav-link" asp-page="/Beverages">Beverages</a></div>
                        <div class="nav__nav-item"><a class="nav__nav-link" asp-page="/Events">Events</a></div>
                        <div class="nav__nav-item"><a class="nav__nav-link" asp-page="/Contact">Contact Us</a></div>
                    </div>
                </div>
            </div>

        </nav>
        <div class="content">
            @RenderBody()
        </div>
        <footer class="footer">
            <div class="footer__copyright">&copy; @currentYear Riverfront Sandwiches.  All Rights Reserved.</div>
            <div class="footer__locations">Locations: SW Portland, SE Portland, Hillsboro, West Slope.</div>
            <div class="footer__phone">503-332-2198</div>
            <div class="content-row">
                <div class="col-sma-4">
                    <div class="footer__general-phrase">Made fresh daily!</div>
                </div>
                <div class="col-sma-4">
                    <div class="footer__social">
                        <div class="footer__social-item">
                            <a href="/">
                                <i class="fab fa-facebook-f fa-2x social-icon"></i>
                            </a>
                        </div>
                        <div class="footer__social-item">
                            <a href="/">
                                <i class="fab fa-pinterest fa-2x social-icon"></i>
                            </a>
                        </div>
                        <div class="footer__social-item">
                            <a href="/">
                                <i class="fab fa-instagram fa-2x social-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sma-4">
                    <div class="footer__hours">
                        Open 10am-9pm Monday-Sunday
                        @await Component.InvokeAsync("SubscribeComponent")
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/assets/javascript/javascript-functions.js"></script>
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
